footer
  .container.text-center
    p.float-left © 2018 Fueled. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/Fueled/Rover') GitHub Project
      li.list-inline-item
        a(href='https://github.com/Fueled/Rover/issues') Issues
