footer
  .container.text-center
    p.float-left © 2018 Ravindra Kumar. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/ravidsrk/smartcontract-abi-explorer') GitHub Project
      li.list-inline-item
        a(href='https://github.com/ravidsrk/smartcontract-abi-explorer/issues') Issues
