footer.footer.page-footer.text-center.font-small.mt-4.wow.fadeIn.bg-primary
	.container.text-center
		p.float-left &copy; 2018 Fueled. All Rights Reserved
		ul.float-right.list-inline
			li.list-inline-item
				a(target='_blank' href='https://github.com/Fueled/Rover') GitHub Project
			li.list-inline-item
				a(target='_blank' href='https://github.com/Fueled/Rover/issues') Issues
			li.list-inline-item
				a(target='_blank' href='https://etherscan.io/apis') Powered by Etherscan.io APIs