extends layout

block content
  .row
    .col-md-12
      .text-center
        h1 Smart Contract Testing Made Easy

        hr.my-4
        h3 Uplod New Contract
        p
          a.btn.btn-primary.btn-lg(href='/contract', role='button') Upload Contract
