extends layout

block content
  .row
    .col-md-3
      h2 Heading
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto officia ratione cum facere ipsam omnis enim odio cumque, consectetur explicabo hic possimus beatae quis esse perspiciatis eius cupiditate facilis placeat!
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-9
      h2 Heading
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam itaque ducimus pariatur laborum blanditiis assumenda, nulla, nemo facilis optio ipsa, ex commodi rem sint at. Officia eius cumque natus facere.
      p
        a.btn.btn-raised(href='#', role='button') View details »