extends layout

block content
  .row
    .col-md-9
      .mast-head
        h1 Testing/Interaction for your Smart Contract made simple.
        h5 Interact with Smart Contract ABI, Realtime Events, Realtime Transactions
        p
          a.btn.btn-primary.btn-lg(href='/contract', role='button') Upload Contract
