extends ../layout

block content
    .row.justify-content-md-center
        .col-md-7
            .card
                .card-body
                    h2.card-title Upload Contract
                    form(method='POST')
                        input(type='hidden', name='_csrf', value=_csrf)
                        input(type='hidden', name='user', id='user', value=user._id)
                        .form-group
                            label(for='contractAddress') Contract Address
                            input#contractAddress.form-control(placeholder='Enter Contract Address' name='address')
                        .form-group
                            label(for='network') Network
                            select#network.form-control.mdb-select(name='network')
                                option(value='' disabled='' selected='') Select Network
                                option(value='mainnet') Ethereum Mainnet
                                option(value='rinkeby') Rinkeby Testnet
                                option(value='ropsten') Ropsten Testnet
                                option(value='gorli') Görli Testnet
                                option(value='gochain') Gochain Mainnet
                                option(value='gochaintest') Gochain Testnet
                                option(value='poa') POA Core
                                option(value='poa-test') POA Sokol
                                option(value='xdai') xDai Chain
                        button.btn.btn-primary(type='submit') Submit
