extends ../layout

block content
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(for='contractAddress') Contract Address
      input#contractAddress.form-control(placeholder='Enter Contract Address' name='address')
      small#emailHelp.form-text.text-muted Contract Address Deployed
    .form-group
      label(for='contractName') Name (Optional)
      input#contractName.form-control(placeholder='Contract Name' name='name')
      small#emailHelp.form-text.text-muted Name which can be used for future reference.
    .form-group
      label(for='contractAbi') ABI Interface
      textarea#contractAbi.form-control(rows='12' name='abi')
    button.btn.btn-primary(type='submit') Submit

    
